{{ define "content"}}
<p class="lead">
  <a href="/thread/new">Start a thread</a> or join one below
</p>

{{ range . }}
<div class="card">
  <div class="card-header">
    <span class="lead">{{ .Topic }}</span>
  </div>
  <div class="card-body">
    Started by {{ .User.Name }} - {{ .CreatedAtDate }} - {{ .NumReplies }} posts.
  </div>
  <div>
    <a href="/thread/read?id={{ .UUID }}" class="float-right">Read more</a>
  </div>
</div>
{{ end }}

{{ end }}