{{ define "content" }}

<form role="form" action="/authenticate" method="post">
  <h2 class="form-signin-heading">
    GoChat
  </h2>
  <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
  </div>
  <div class="form-group">
    <input type="passoword" name="password" class="form-control" placeholder="Password" required>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
  <a class="lead float" href="/signup">Sign up</a>
</form>

{{ end }}