{{ define "content" }}
<form role="form" action="/thread/create" method="post">
  <div class="lead">Start a new thread with the following topic</div>
  <div class="form-group">
    <textarea class="form-control" name="topic" id="topic" placeholder="Thread topic here" rows="4" ></textarea>
    <br />
    <br />
    <button class="btn btn-lg btn-primary float-right" type="submit">Start this thread</button>
  </div>
</form>
{{ end }}