{{ define "content" }}

<div class="card">
  <div class="card-header">
    <span class="lead">{{ .Topic }}</span>
    <div class="float-right">
      Started by {{ .User.Name }} - {{ .CreatedAtDate }}
    </div>

  </div>

  {{ range .Posts }}
  <div class="card-body">
    <span class="lead">{{ .Body }}</span>
    <div class="float-right">
      {{ .User.Name }} - {{ .CreatedAtDate }}
    </div>
  </div>
  {{ end }}
</div>

<div class="card">
  <div class="card-body">
    <form role="form" action="/thread/post" method="post">
      <div class="form-group">
        <textarea class="form-control" name="body" id="body" placeholder="Write your reply here" rows="3"></textarea>
        <input type="hidden" name="uuid" value="{{ .UUID }}">
        <br />
        <button class="btn btn-primary float-right" type="submit">Reply</button>
      </div>
    </form>
  </div>
</div>

{{ end }}