{{ define "content" }}

<div class="card">
  <div class="card-header">
    <span class="lead">{{ .Topic }}</span>
    <div class="float-right">
      Started by {{ .User.Name }} - {{ .CreatedAtDate }}
    </div>
  </div>

  {{ range .Posts }}
  <div class="card-body">
    <span class="lead">{{ .Body }}</span>
    <div class="float-right">
      {{ .User.Name }} - {{ .CreatedAtDate }}
    </div>
  </div>
  {{ end }}
</div>

{{ end }}