{{ define "navbar" }}

<nav class="navbar navbar-expand-lg navbar-light bg-light" role="navigation">
  <a class="navbar-brand" href="/">
    GoChat
  </a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a href="/">Home</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item">
        <a href="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>

{{ end }}