{{ define "content" }}

<form role="form" action="/signup_account" method="post">
  <h2 class="form-signin-heading">
    GoChat
  </h2>
  <div class="lead">Sign up for an account below</div>
  <div class="form-group">
    <input id="name" type="text" name="name" class="form-control" placeholder="Name" required autofocus>
  </div>
  <div class="form-group">
    <input type="email" name="email" class="form-control" placeholder="Email address" required>
  </div>
  <div class="form-group">
    <input type="password" name="password" class="form-control" placeholder="Password" required>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Sign up</button>
</form>

{{ end }}